
* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  user-select: none;
  list-style: none;
}

.container {

  width: 100vw;
  height: 100vh;

  padding: 50px 25px;

  overflow: hidden;
}

.res{
    margin: 20px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;

}

.res ul{
    width: calc((100% / 3) - 10px);
    height: 150px;
}
